body{
    font-family: "Montserrat", sans-serif;
}
h5{
    font-weight: 5em;
}
.container{
    width: 80%;
    margin: 10%;
    text-align: center;
}
nav .container-fluid .navbar-header i{
  color:white; font-size: 30px; float:right; margin-right: 5%; display: none;  
}

#myCarousel .carousel-inner .item img{
  width:100%; 
  height: 600px;}

.card{
    width: 26%;
    height: 40rem;
    border: 0.5em solid grey;
    border-radius:2%; 
    padding: 1rem;
    display: inline-block;
    margin: 2em;
    vertical-align: middle;
    background-color: white;
}

@media only screen and (max-width: 960px) {
  .container{
    width: 100%;
  }
  nav .container-fluid .navbar-header i{
    display: block;
    
  }
  nav .container-fluid #mainNav{
    display: none;
  }
  #myCarousel .carousel-inner .item img{
    height: 200px;
  }
  .card{
    width: 80%;
    margin: 1em;
    height: 70%;
}
.card .card-body a{
  width: 80%;
  margin: 0.5em auto;
}
#skills .row .col-sm-4{
  margin: 1em auto;

}
#skills .row .col-sm-4 a img{
  max-width:8em; max-height: 8em;
}
#skills h3{
  font-size: 1em;
}
}







@media only screen and (min-width: 1000px) {
/* The below code is from W3School, not made by me */

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide; 
  /* The duration of the animation */
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
}